@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
   ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  blockquote {
    border-left: 4px solid #ccc;
    margin: 1em 10px;
    padding: 0.5em 10px;
    color: #666;
  }
  /* p{
    margin-bottom: 10px;
  } */

  /* p:empty::before {
    content: '';
    display: inline-block;
  } */

    
}

.detail-obat p{
        margin-bottom: 10px;
    }
    .ck-editor__editable_inline {
      padding: 0 30px !important;
  }

.table-container {
    max-width: 100%;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-container tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-container tr:hover {
    background-color: #ddd;
  }
  
  .table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .table-container td {
    vertical-align: top;
  }

  .list-container ul {
    list-style-type:disc; /* Mengatur jenis gaya poin menjadi titik */
    
  }

  .list-container ul li {
    margin-left: 20px; /* Atur jarak dari kiri */
  }
  
  

  
 